
/*En esta sección le damos los parametros globales al Body*/
body {
    background: #f2f2f2;
    font-family: Arial, Sans-serif;
}
/*Establece el margen de todos los <div>*/
div {
    margin: 20px 0;
}

/*class="boton" adquiere color, un fondo, formato y padding necesario para que se centre dentro del back*/
.boton {
    color: #fff;
    background: #32021f;
    display: inline-block;
    font-size: 16px;
    padding: 15px 20px;
    text-decoration: none;
    margin:0 10px ;
}

/*Crea una acción al hacer "hover" sobre el atributo boton, transparencia en el back*/
.boton:hover {
    opacity: .3;
}
/* clases para los tamaños */
.small {
    font-size: 14px;
    padding: 10px 15px;
}
.medium {
    font-size: 16px;
    padding: 15px 20px;
}
.big {
    font-size: 18px;
    padding: 20px 25px;
}
.extra-big {
    font-size: 20px;
    padding: 25px 30px;
}

.negrita {
    font-weight: bold;
}
/* clases para los colores */
.negro {background: #000;}
.amarillo {background: #f7fa2e;}
.cyan { background: #00FFFF; }
.rosa { background: #FA58F4; }
.lila { background: #BCA9F5; }
.blue { background: blue} /*nuevo*/
/* Efectos */
.redondo {
    border-radius: 100px;
}

/*Margenes: son los que separan a nuestro objeto de su límite o lienzo.
Padding: es la separación que hacemos dentro de un objeto a la hora de tener nuestro contenido DENTRO.
Background: es el color/imagen que rodea nuestro objeto.
Display: es el tipo de "caja" en la que se genera el elemento.

Exploré con la clase redondo, y me dí cuenta que no cambiaba mucho si aumentaba o disminuía el tamaño del border-radius.
Jugué con los padding/margins y aprendí a darle formato a estos elementos.
*/