/*
body <---> Selector, al elemento al que le queremos aplicar los efectos
color <---> Propiedad, efecto o cambio que le queremos dar al o los elementos
blue <---> Valor que le daremos a la propiedad
*/


h1 {
    color:blue;
}

h2 {
    color: red;
}

h3 {
    color: green;
}