/*body {
    background:#60d390;
    background:url('IMG/FONDO.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

    background:url('IMG/FONDO.jpg') no-repeat fixed center center;
    background-size: cover;
}*/

.fondo {
    background:url('IMG/FONDO.jpg') #000000;
    background-size: 70%;
    background-repeat:no-repeat;
    width: 400px;
    height: 400px;
}

.fondo2 {
    background:url('IMG/Flor.png') #00ff4c;
    background-size: 90%;
    background-repeat:no-repeat;
    width: 500px;
    height: 500px;
}