body {
    background: #333232;
    font-family: Arial;

}

.menu {
    background: gray;
    width: 90%;
    list-style: none;
    padding: 0;
    max-width: 1000px;
    margin: 20px auto;

}

.menu li{
    display: inline-block;
    text-align: center;

}

.menu li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}

.menu li a:hover {
    background: rgba(219, 219, 219, 0.212);
}