* {
    padding: 0;
    margin: 0;
}

body {
    background: #f2f2f2;
    font-family: Arial;
}

.cajaPadre {
    background: #8258FA;
    width: 700px;
    overflow: hidden;
}

.caja {
    width: 200px;
    height: 200px;
    color: #fff;
    font-size: 38px;
    background: #0E6BA8;
    margin: 20px;
}

.uno {
    /*float: left;*/
}

.dos {
    /*float: left;*/
}