* {
    padding: 0;
    margin: 0;
}

body {
    background: #f2f2f2;
}

.caja {
    width: 200px;
    height: 200px;
    background: #0E6BA8;
    margin: 20px;
    float: right;
}

.posicionada {
    background: #6695e8;
    /*position: absolute;
    top:;
    bottom:0%;
    left:;
    right:0%;*/
}



/*.cajaPadre {
    margin: 20px;
    background: #2e294e;
    width: 500px;
    height: 500px;
    position: relative;
}*/

.tres {
    background: #FA58F4;
}