.caja a {
    text-decoration: none;
    font-size: 60px;
    color: rgb(0,0,255);
}
.caja a:hover {
    color: rgb(255,0,0);
}
.caja a {
    transition: color 1.5s ease 0.2s;
    /* transition-property: color;
    transition-duration: 1.5s;
    transition-timing-function: ease;
    transition-delay: 0.2; */
}