body {
    font-family: Arial;

}

.menu {
    background: #568abf;
    width: 200px;
    list-style: none;
    padding: 5px;
    text-align: center;
}

.menu li{
    border-bottom: 2px solid rgba(255, 255, 255, 0.308);
}

.menu li a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}

.menu li a:hover {
    background:rgba(255, 255, 255, 0.151);
}