<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>Espacio Bello</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="espacio.css">
    </head>
    <body>
        <div class="contenedor">
            <header>
                <nav>
                    <ul>
                        <li><a href="#">Inicio </a> </li>
                        <li><a href="AcercaDe.html">Acerca de </a> </li>
                        <li><a href="#">Proyectos </a> </li>
                        <li><a href="#">Contacto </a> </li>
                    </ul>
                </nav>
            </header>

            <section class="main">
                <div class="imagen">
                    <img src="IMG/interiores.jpg" alt="" width="650" height="500">
                </div>
                <section class="posts">
                    <article>
                        <h2>¿Quiénes somos?</h2>
                        <p>Muebles e Interiorismo, Proyectos Residenciales, Oficinas y Corporativos.</p>
                        <p>contactanos@espaciobello.com</p>
                    </article>
                </section>
            </section>
            <aside>
                <div class="widget">
                    <h3 class="titulo">Contacto</h3>
                    <ul>
                        <li><a href="#">Casa muestra</a></li>
                        <li><a href="#">Colores de temporada</a></li>
                        <li><a href="#">Las persianas perfectas para tu casa son...</a></li>
                        <li><a href="#">¿Qué pinturas poner en mi casa?</a></li>
                    </ul>
                </div>
                <div class="widget">
                    <h3 class="titulo">Dirección</h3>
                    <p>Local 4, Nuevo Mundo 1058, Fracc. Perisur, 80197 Culiacán Rosales, Sin.</p>
                </div>
            </aside>
            <footer>
                <p>Espacio Bello 2022 - Todos los Derechos Reservados</p>
            </footer>
        </div>
    </body>
</html>