* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(255, 255, 255);
}

.textS {
    font-size: 22px;
}


.colorText {
    color: #fff;
}

.bold {
    font-weight: bolder;
}

.contenedor {
    width: 450px;
    height: 600px;
    background-color: rgba(238, 238, 238, 0.753);
    border-radius: 20px;
    padding : 30px;
    margin: 90px;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.tamaño {
    width : 30%;
    display:block;
    margin:auto;
}

.footerIvan h5 {
    color: #fff;
    font-weight: bolder;
}

.footerIvan {
    color: #fff;
    text-align: center;
}
/* .contenedor {
    width: 450px;
    height: 500px;
    background-color: rgba(238, 238, 238, 0.753);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 20px;
    padding: 30px;
} */