@keyframes papel {
    0%{background: rgb(251, 50, 200);}
    25%{background: rgb(160, 50, 251); width: 300px;}
    50%{background: rgb(120, 50, 251); width: 400px;}
    75%{background: rgb(50, 221, 251); width: 300px;}
    100%{background: rgb(50, 251, 67); width: 200px;}
}

@keyframes movimiento {
    /* efecto transform */
    from{transform: translate(0px);}
    to{transform: translate(500px);}
}

.caja {
    width: 200px;
    height: 200px;
    background: #9eb3c2;
    /* efecto animation */
    animation-name: papel;
    animation-duration: 5s;
    /* efecto transition */
    transition: width 2s;
    transition: background 1s;
}

/* se le da un evento al efecto transition */
.caja:hover {
    width: 700px;
    background: red;
}
